$theme-color:#2f86ff;
$theme-color1:#fff;
$top-height:128px;
$bot-height:98px;
$calc-height:186px;
$border-color:#e1e1e1;
$subtitle-color:#999;
$text-color:rgb(214, 200, 200);
$text-table-color:#666;
$subText-color:#d4caca;
$bg-color:#fff;
$app-bg-color:#f2f2f2; 
$border1:#e1e1e1;
$normal-fontSize:30px;
$normal-color:#666;
$web-height:88px;
$app-height:128px;